<div class="container text-center">
  <div class="card text-center">
    <div class="card-header">
      <span class="fs-3">FDP・D-ダイマー比較支援ツール</span>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <form>
        <div class="mb-3 row">
          <label for="selectFacility" class="col-sm-2 col-form-label"
            >施設</label
          >
          <div class="col-sm-10">
            <select
              class="form-select"
              aria-label="Default select facility"
              id="selectFacility"
            >
              <option selected>Open this select menu</option>
              <option value="001">琉球大学</option>
              <option value="002">九州大学</option>
              <option value="003">Systemx Hospital</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputID" class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="inputID"
              maxlength="10"
              placeholder="IDを入力してください。（10文字以内）"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              maxlength="20"
              placeholder="Passwordを入力してください。（20文字以内）"
            />
          </div>
        </div>
        <a class="btn btn-primary" (click)="navigateToSearchPage()">Login in</a>
      </form>
    </div>
    <div class="card-footer text-body-secondary">
      <div class="mt-3 row">
        <p class="fs-6">
          FDP・D-ダイマー比較支援ツール by
          <a href="https://www.yahoo.co.jp/">○○○○株式会社 | ○○○○</a>.
        </p>
      </div>
    </div>
  </div>
</div>
